<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
</head>
<body>
  <svg height="1055" width="816">
    <text x="-205" y="350" fill="red" transform="rotate(-35 20,40)" font-size="70px" font-style="bold">
      ANULADO
    </text>
    <text x="-220" y="400" fill="red" transform="rotate(-35 20,40)" font-size="30px" font-style="bold">
      <%= cite %>
    </text>
  </svg>
</body>
</html>